.coimne-shortcodes-section {
    margin-top: 30px;
    padding: 15px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.coimne-shortcodes-section h2 {
    margin-top: 0;
}

.coimne-shortcodes-section ul {
    list-style-type: none;
    padding: 0;
}

.coimne-shortcodes-section li {
    margin-bottom: 5px;
    font-family: monospace;
}

/* Estilos para el switch */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #0073aa;
}

input:checked+.slider:before {
    transform: translateX(20px);
}